/* Estilo general */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0e5de, #ded3c2);
    color: #555;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #8b7e74;
    font-size: 2.2em;
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

form {
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #7a6a53;
    font-weight: 500;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #a2856e;
    box-shadow: none;
}

input[type="submit"] {
    background-color: #a2856e;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}

input[type="submit"]:hover {
    background-color: #8b715d;
}

input[type="submit"]:active {
    background-color: #735947;
}



.actions-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.actions-btn button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    background-color: #a2856e;
    color: #fff;
}

.actions-btn button:hover {
    background-color: #8b715d;
}

.actions-btn button:active {
    background-color: #735947;
}

/* Estilo responsivo */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    table {
        font-size: 0.9em;
    }

    input[type="text"],
    input[type="number"] {
        padding: 10px 12px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 1em;
    }

    th, td {
        padding: 10px;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Alineación vertical al inicio */
    margin-top: 1px;
}

.formulario
{
    width: 500px;
    padding: 80px;  
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #dddddd; /* Borde gris claro */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para celdas */
th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #e6e6e6; /* Borde inferior gris claro */
    font-size: 1em;
    color: #333; /* Texto gris oscuro */
}

/* Estilos para el encabezado */
th {
    background-color: #007bff; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

/* Filas alternas */
tr:nth-child(odd) {
    background-color: #f9f9f9; /* Fondo gris claro alternativo */
}

/* Estilo al pasar el mouse */
tr:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el mouse */
}

/* Botones de acción */
.action-button {
    display: inline-block;
    margin: 0 5px;
}

.submit {
    background-color: #007bff; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9em;
}

.submit:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
}